* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.main {
    width: 100vw;
    height: 100vh;
    background: url('./images/marble_bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.logo-container {
    height: 65%;
    width: 65%;
    background: url('./images/logo-transparent.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position:right;
    position: absolute;
    right: 8%;
    top: 8%;
}

.navbar {
    position: absolute;
    top: 0;
    width: 100vw;
    padding: 10px 10px;
    color: #fff;
    background-color: #6c757d;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100vw;
    padding: 10px;
    color: #fff;
    background-color: #6c757d;
    display: flex;
    justify-content: center;
}

.footer p {
    text-align: center;
    font-weight: 100;
    font-size: .9rem;
    word-spacing: 2px;
}

.navbar-contact {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar-contact-link {
    padding: 0 15px;
    font-size: 1.8rem;
    color: #fff;
    transition: all ease-in-out 0.5s;
}

.navbar-contact-link i:hover {
    color: rgb(19, 186, 241);
    transform: scale(1.25);
}

.navbar-list-social {
    display: flex;
    list-style: none;
}

.nav-item {
    padding: 0 15px;
    font-size: 1.4rem;
}

.nav-item a {
    color: #fff;
    transition: all ease-in-out 0.5s;
}

.nav-item a i:hover {
    color: rgb(19, 186, 241);
    transform: scale(1.25);
}