* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    height: 100vh;
    width: 100vw;
    background: url('./images/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #f8f9fa;
}